.footer {
	margin-top: 5rem;
	padding: 5rem 0;
	background-color: var(--black);
}

@media (min-width: 768px) {
	.content {
		display: flex;
		justify-content: space-around;
	}
}
.navegation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
@media (min-width: 768px) {
	.navegation {
		flex-direction: row;
	}
}
.navegation a,
.copyright {
	font-size: 2.2rem;
	font-weight: 700;
	text-decoration: none;
	color: var(--white);
}
.copyright {
	text-align: center;
}
