:root {
	--primary: #e99401;
	--black: #262626;
	--white: #fff;
	--fuente-principal: "Outfit", sans-serif;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 2rem;
	font-family: var(--fuente-principal);
	line-height: 1.5;
}
img {
	max-width: 100%;
	height: auto;
}
[class*="container"],
main {
	width: min(95%, 120rem);
	margin: 3rem auto;
}
[class*="heading"] {
	font-size: 4rem;
	text-align: center;
	font-weight: 900;
	color: var(--primary);
	margin: 5rem 0;
}
.error-links {
	display: flex;
	justify-content: center;
}
.error {
	font-size: 4rem;
	text-align: center;
}
.error-link {
	display: inline-block;
	width: 200px;
	padding: 2rem;
	font-size: 1.8rem;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	color: var(--primary);
}

.error-link:hover {
	text-decoration: underline;
	border-radius: 10px;
	background-color: var(--black);
}

@media (min-width: 768px) {
	.error {
		font-size: 4rem;
		text-align: center;
	}
	.error-link {
		width: 200px;
		padding: 2rem;
		font-size: 2rem;
	}
}
